header {
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: green;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: Arial;
    background-image: linear-gradient(to right, #fff , #94e0aa);
}
ul {
    list-style-type: none;
}
button {
    background-color: greenyellow;
    border-color: green;
    color: rgb(80, 80, 80);
    font-size: 30px;
    width: 300px;
    height: auto;
}